*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    /* background: salmon */
}

header {
    height:15vh;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    padding:10px;

}
section {
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside {
    width: 25%;
}

header button {
    font-size:36px;
}

.blueBg {
    background: darkblue;
}

.goldBg {
    background: goldenrod
}

.whiteText {
    color:white
}

#wordPara {
    font-size:60px;
}